name: CMake

on: [push, pull_request]

jobs:
  build_linux:
    runs-on: ubuntu-latest
    container: s1lentq/linux86buildtools:latest
    
    env:
      CMAKE_TOOLCHAIN_FILE: ${{github.workspace}}/cmake/linux-i686.cmake

    steps:
    - uses: actions/checkout@v2
    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run:  rm -rf build && CC=icc CXX=icpc cmake -B build -DCMAKE_TOOLCHAIN_FILE=cmake/linux-i686.cmake && cmake --build build -j 

    - name: Deploy artifacts
      uses: actions/upload-artifact@v2
      with:
        name: linux
        path: ${{github.workspace}}/build/hitbox_fix_mm_i386.so
          
  build_windows:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    -
      name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build
      
    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake .. -A Win32 -DCMAKE_BUILD_TYPE=Release

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config Release --parallel
              
    - name: Deploy artifacts
      uses: actions/upload-artifact@v2
      with:
        name: windows
        path: ${{github.workspace}}/build/Release/hitbox_fix_mm.dll
  publish:
    name: 'Publish'
    runs-on: ubuntu-latest
    needs: [build_windows, build_linux]  
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v2        
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Deploying linux artifacts
        uses: actions/download-artifact@v2
        with:
          name: linux

      - name: Deploying windows artifacts
        uses: actions/download-artifact@v2
        with:
          name: windows
      
      - name: Archive artifacts
        run: |
          mkdir -p addons/hitbox_fix
          cp dist/hbf.cfg hitbox_fix_mm.dll hitbox_fix_mm_i386.so addons/hitbox_fix
          7z a -tzip hitbox_fix-bin-${RELEASE_VERSION}.zip addons
        
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: hitbox_fix-bin-*.zip
